.library-container-container {
  padding: 10px 40px;
  display: grid;
  grid-template-columns: 2fr 8fr;
  gap: 20px;
}

.library-container {
  border-radius: 10px;
  background-color: var(--secondary-color); 
  padding: 20px;
  color: white;
  min-height: 100vh;

}

