.library-container-container {
  padding: 10px 40px;
  display: grid;
  grid-template-columns: 2fr 8fr;
  gap: 20px;
}

.library-container {
  border-radius: 10px;
  background-color: var(--secondary-color); 
  padding: 20px;
  color: white;
  min-height: 100vh;
}

.clear-all {
  background-color: #909090;
  width: 100%;
  color: black;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;

}

.clear-all:hover {
  background-color: white;
}

.column-game-title {
  font-size: 1rem;
  margin: 0;
}

.grid-container {
  border-radius: 10px;
  background-color: var(--secondary-color); 
  padding: 20px;
  color: white;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



