.results-container-container {
  padding: 10px 40px;
}

.results-container {
  border-radius: 10px;
  background-color: var(--secondary-color); 
  padding: 20px;
  color: white;
  min-height: 100vh;
}

.pagination {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.left-content {
  font-size: 1.5rem;
  color: white;
  margin-top: 1rem;
  justify-content: center;
}

.right-content {
  font-size: 1rem;
  color: white;
  margin-top: 1rem;
  justify-content: center;
}

.pagination button {
  color: var(--text-color);
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: white;
}

.pagination button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}



