.navbar-container
{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    padding: 15px 7%;
    background-color: var(--navbar-color);
    position: fixed;
    z-index: 100;
}

.logo-container
{
    text-transform: uppercase;
    font-size: 1.25rem;
    color: var(--text-color);
}

.site-control-options
{
    display: flex;
    align-items: center;
    gap: 2.441rem;
}

.site-control-options > * 
{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
}

.search-box {
    display:flex;
    padding: 0.32rem 0.64rem;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box > input
{
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: white;
}

.filter-button
{
    gap: 0.3813rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 0.5rem;
}
#search-text
{
    resize: none;
    height: inherit;
    cursor: pointer;
    border-radius: 0.16rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    border: none;
    overflow: auto;
    outline: none;
    background-color: white;
    color: black;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}
#search-text:focus
{
    cursor: text;
}

.filter-container
{
    width: 100%;
    z-index: 1;
    padding-top: 77px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(0);
}

.filter-container.hidden {
    transform: translateY(-200px);
  }