.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  display: flex;
  align-items: center;
}

.image-container {
  position: relative;
}

.prev-btn,
.next-btn {
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.prev-btn {
  margin-right: 10px;
}

.next-btn {
  margin-left: 10px;
}