.navbar-container
{
    display: grid;
    grid-template-columns: 3fr 8fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    padding: 2rem 0.64rem;
    background-color: black;
    position: fixed;
    z-index: 100;
}
.site-control-options
{
    display: flex;
    align-items: center;
    gap: 2.441rem;
}
.site-control-options > * 
{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
}
.logo-container
{
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--text-color);
}
.user-control-options
{
    background-color: white;
    padding: 0rem 0.2441rem;
}
.search-button
{
    gap: 0.3813rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.search-button > img 
{
    filter: invert();
    width: 8%;
    aspect-ratio: 1/1;
}
#search-text
{
    resize: none;
    height: inherit;
    cursor: pointer;
    border-radius: 0.16rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    border: none;
    overflow: auto;
    outline: none;
    background-color: white;
    color: black;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}
#search-text:focus
{
    cursor: text;
}