.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  flex: 1;
  font-size: 20px;
  margin-left: 20px;
}

.divider {
  border-top: 1px white;
  width: 100%;
  opacity: 0.5;
  margin-bottom: 20px;
}

.save-game
{
    wdith: 50px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    visibility: hidden;
}
.result:hover .add-to-library-container .save-game
{
    visibility: visible;
    
}
.result:hover .add-to-library-container
{
    visibility: visible;
    
}
.add-to-library-container {
  border: 2px solid black;
  display: inline-block;
  padding: 5px;
  visibility: hidden; 
  background-color: black;
  border-radius: 10px;
}

.button-content {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}

.button-text {
  margin-right: 10px;
}