*
{
    box-sizing: border-box;
}
*:root
{
    --navbar-color:#131313;
    --text-color: #eeeff5;
    --background-color: #282828;
    --primary-color: #502371;
    --secondary-color:#171717;
    --accent-color: #282828;
    --primary-gradient: linear-gradient(to right, #502371, #b76fe7);
}
body
{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
    overflow-x: hidden;
}

#root {
    height: 100%;
    width: 100%;
  }
  